@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:300");

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(14, 29, 51, 0.8),
    rgba(14, 29, 51, 0.2)
  );
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #1900ff;
  border: 0 solid #1900ff;
}
#slider1 {
  background-image: url(images/Text.svg);
}
#slider2 {
  background-image: url(images/slider2.jpeg);
}
#slider3 {
  background-image: url(https://68.media.tumblr.com/3beb13a4167aa8b5c4743eac17bf351c/tumblr_o8nyvtiHfC1slhhf0o1_1280.jpg);
}
#slider4 {
  background-image: url(https://68.media.tumblr.com/c40636a5a0d4aa39c335c8db40d2144f/tumblr_omc7z7Xv8N1slhhf0o1_1280.jpg);
}
/* .slider {
  width: 300%;
  height: 100%;
  text-align: center;
  font-size: 9em;
  line-height: 500%;
  font-family: "Oswald", sans-serif;
}
#slide1,
#slide2,
#slide3 {
  width: 33.33333333333333%;
  height: 100%;
  float: left;
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 300px) {
  body {
    font-size: 8px;
  }
} */

body {
  font-family: "PT Serif", serif;
  background-color: #fff8f0;
}

h1,
p,
ul,
#photo-list {
  text-align: center;
}

h1,
#photo-list {
  margin: 0 auto;
}

/* contains the img tags with the "paginate" class */
#photo-list,
li {
  padding: 5px;
}

/* appended to the photo-list by script.js */
img {
  height: 200px;
  width: 200px;
  padding: 10px;
}

/* styles the page numbers */
li {
  background-color: pink;
  list-style-type: none;
  display: inline;
  margin: 5px;
  cursor: pointer;
}

/* pops up when the user clicks on a picture */
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
}

/* pops up when user clicks on a picture, contains a larger version of the picture */
#frame img {
  display: none;
  position: fixed;
  background-color: white;
  width: 700px;
  height: auto;
  margin-left: -350px;
  left: 50%;
}
