/* NAVBAR STARTS */
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
.view {
  height: 100%;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar {
  padding-left: 550px;
  background-color: rgba(0, 0, 0, 0.1);
}
.page-footer,
.top-nav-collapse {
  background-color: #1c2331;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}
/* HERO STARTS */
